<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form class="user" action="/logar" method="POST">
        <div class="form-group">
            <input type="email" class="form-control form-control-user" id="email" name="email"
                aria-describedby="emailHelp" placeholder="Digite o seu email">
        </div>
        <div class="form-group">
            <input type="password" name="senha" class="form-control form-control-user" id="senha"
                placeholder="Digite sua senha">
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox small">
                <input type="checkbox" class="custom-control-input" id="lembrar" name="lembrar">
                <label class="custom-control-label" for="lembrar">Lembrar de mim</label>
            </div>
        </div>

        <div th:if="${erro != null}" th:text="${erro}" class="alert alert-danger" role="alert"></div>

        <button class="btn btn-primary btn-user btn-block">
            Login
        </button>
    </form>
</body>

</html>